<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Ariza</title>
</head>
<body>

<h2 style="text-align: center">"Alfraganus NTM saytining, online-ariza qismidan kelgan xat"</h2>

<div>
    <h4>O'quvchi: </h4>
    <p><b>Familiya: </b>{{ pupil_lastname }}</p>
    <p><b>Ism: </b>{{ pupil_firstname }}</p>
    <p><b>Tug'lugan kun: </b>{{ pupil_birthday }}</p>
    <p><b>Qaysi sinfga o’qishga klmoqchi: </b>{{ pupil_class }}</p>
    <hr>
    <h4>Onasi: </h4>
    <p><b>Familiya: </b>{{ mother_lastname }}</p>
    <p><b>Ism: </b>{{ mother_firstname }}</p>
    <p><b>Tug'lugan kun: </b>{{ mother_birthday }}</p>
    <p><b>Ish joyi: </b>{{ mother_work }}</p>
    <p><b>Telefon: </b>{{ mother_phone }}</p>
    <p><b>Email: </b>{{ mother_email }}</p>
    <hr>
    <h4>Otasi: </h4>
    <p><b>Familiya: </b>{{ father_lastname }}</p>
    <p><b>Ism: </b>{{ father_firstname }}</p>
    <p><b>Tug'lugan kun: </b>{{ father_birthday }}</p>
    <p><b>Ish joyi: </b>{{ father_work }}</p>
    <p><b>Telefon: </b>{{ father_phone }}</p>
    <p><b>Email: </b>{{ father_email }}</p>
</div>

</body>
</html>