{% extends 'base/base.html' %}
{% load static %}
{% load sidebar %}

{% block title %} {{ title }} {% endblock title %}
{% block content %}
    <section class="blog-page">
        <div class="container">
            <div class="row flex-row-reverse">
                <div class="col-lg-8">
                    <div class="section-title-5 text-center">
                        <h2 class="title">{{ title }}</h2>
                        <span class="line2"></span>
                    </div>
                    <div class="mt-80"></div>
                    <div class="mt-60"></div>
                    <p>
                        {{photos.choy_text}}
                    </p>
                    <div class="mt-80"></div>
                    <div class="row">
                        {% for item in images %}
                            <div class="col-lg-6 col-sm-12">
                                <div class=" text-center mt-30">
                                   <img src="{{item.image.url}}">
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
                {% sidebar %}
            </div>
        </div>
    </section>
{% endblock content %}