{% extends 'base/base.html' %}
{% load static %}
{% load sidebar %}

{% block content %}
<section class="blog-page">
    <div class="container">
        <div class="row flex-row-reverse">
            <div class="col-lg-8">
                <div class="section-title-5 text-center">
                    <h2 class="title">Oshxona</h2>
                    <span class="line2"></span>
                </div>
                <div class="mt-60"></div>
                <p>
                    {{photos.kitchen_text}}
                </p>
                <div class="mt-80"></div>

                <div class="row">
                    {% for item in images %}
                    <div class="col-lg-6 col-sm-12">
                        <div class=" text-center mt-30">
                            <img src="{{item.pictures.url}}">
                        </div>
                    </div>
                    {% endfor %}
                </div>

                <div class="row">
                    {% for item in items %}
                    <div class="col-lg-6 col-sm-12">
                        <div class="single-event text-center mt-30">
                            <span class="date">Haftalik taomnoma</span>
                            <h4 class="event-title">
                                <a href="#">
                                    <span>{{ item.date|date:"d.m.Y" }}</span>
                                </a>
                            </h4>
                            <a href="{{ item.get_absolute_url }}" class="more">Batafsil<i
                                    class="far fa-chevron-right"></i></a>
                        </div>
                    </div>
                    {% endfor %}
                </div>
                {% if items.has_other_pages %}
                <ul class="pagination-items text-center">
                    {% for p in items.paginator.page_range %}
                    {% if items.number == p %}
                    <li><a class="active">{{ p }}</a></li>
                    {% elif p > items.number|add:-3 and p < items.number|add:3 %}
                    <li><a class="active" href="?page={{ p }}">{{ p }}</a></li>
                    {% endif %}
                    {% endfor %}
                </ul>
                {% endif %}
                <div class=" text-center mt-30">
                    <a href="{% url 'choy' %}"
                       class="main-btn mt-25 float-left">Tolmas Choy</a>
                </div>
            </div>
            {% sidebar %}
        </div>
    </div>
</section>
{% endblock content %}